[Unit]
Description=Gamescope DBus Service

[Service]
Type=dbus
BusName=org.shadowblip.Gamescope
ExecStart=/usr/bin/gamescope-dbus

[Install]
WantedBy=default.target
