[Unit]
Description=Gamescope DBus Service

[Service]
ExecStart=/usr/bin/gamescope-dbus
Restart=on-failure
RestartSec=1s
TimeoutStartSec=5s
TimeoutStopSec=3s

[Install]
WantedBy=default.target
